.git
.env
vendor
node_modules
public/storage
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docker
Dockerfile
docker-compose.yml
.gitignore
.editorconfig
.gitattributes
README.md
phpunit.xml
# package.json and composer.json must NOT be ignored as they are needed for the build